@import "setup";
@import "variables";

// General Styles //

html {
    font-size: 125%;
}

body {
    font-family: $base-font;
}

h1, 
h2,
h3,
h4,
nav ul,
p,
a,
ul.gallery,
input,
textarea {
    padding: 0;
    margin: 0;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

nav li,
ul.gallery li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

p {
    letter-spacing: 0.05rem;
    line-height: 1.4rem;
}

// Header Styling //

.header-home {
    background-image: url(../assets/home-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header-contact {
    background-image: url(../assets/contact-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}

.header-blog {
    background-image: url(../assets/blog-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
}

.nav-home,
.nav-contact,
.nav-blog {
    position: relative;
}

.nav-home,
.nav-contact,
.nav-blog {
    input[type="checkbox"] {
        display: none;
        width: 40px;
        height: 40px;
        z-index: 10;
        opacity: 0;
        position: absolute;
    }
}

.nav-home,
.nav-contact,
.nav-blog {
    .hamburger {
        display: none;
        font-size: 2rem;
        color: white;
        position: absolute;
        &:visited,
        &:link {
            color:white;
        }
    }
}

.nav-home,
.nav-contact,
.nav-blog {
    padding: 3rem 0 4rem 0;
    ul {
        display: flex;
        li {
            margin: 0 1.5rem;
            a {
                color: white;
                font-weight: bold;
                letter-spacing: 0.05rem;
                line-height: 1.45rem;
                padding-bottom: 0.25rem;
                &:hover,
                &:focus {
                    border-bottom: 3px solid $secondary;
                }
            }
        }
        li:first-child {
            margin-left: 0;
        }
        li:last-child {
            margin-right: 0;
        }    
    }
}

h1 {
    font-size: 3.95rem;
    text-transform: uppercase;
    font-family: $styling-font;
    text-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.8);
}

.header-home h1 {
    color: $secondary;
    margin-top: 25vh;
    padding-bottom: 3rem;
    span {
        display: block;
    }
}

.header-boat-image {
    position: absolute;
    top: 20vh;
    right: 0;
    width: 55vw;
    max-width: 900px;
}

.header-contact h1,
.header-blog h1 {
    color: white;
}

// Main General Styling Across Pages //

h2, 
h4 {
    font-family: $styling-font;
    color: $primary;
    font-size: 2.25rem;
    text-transform: uppercase;
}

.yellow-button {
    color: $primary;
    font-family: $styling-font;
    background-color: $secondary;
    text-transform: uppercase;
    line-height: 2.08rem;
    font-size: 1.1rem;
    padding: 0.5rem;
    border: 3px solid transparent;
    &:hover,
    &:focus {
        border: 3px solid $secondary;
        background-color: $tertiary;
    }
}

// Styling Sections Individually//
// Home Section 1: Icons and H2s //

.icons-h2s {
    background-color: $tertiary;
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        padding-top: 20vh;
        padding-bottom: 15vh;
        .marker, 
        .users, 
        .file, 
        .phone {
            flex-basis: 50%;
            display: flex;
            justify-content: space-between;
            padding-top: 2rem;
            i {
                background-color: $secondary;
                color: $primary;
                border-radius: 50%;
                display: block;
                font-size: 1rem;
                width: 2rem;
                height: 2rem;
                margin-right: 1rem;
                text-align: center;
                padding-top: 0.5rem;
            }
            .marker-description,
            .users-description,
            .file-description,
            .phone-description {
                flex: 1;
            }
            p {
                padding-top: 1rem;
            }
        }
    }
}

// Home Section 2: Programs and Locations //

.section2-home-programs-locations {
    background-color: $primary;   
}

.section2-wrapper {
    max-width: 1600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem 10vw;
    padding-bottom: 4rem;
    h3 {
        font-family: $styling-font;
        font-size: 2rem;
        line-height: 2.9rem;
        letter-spacing: 0.06rem;
        text-transform: uppercase;
        color: white;
    }
    p {
        color: white;
        text-align: left;
        padding-bottom: 2rem;
    }
}

.right-programs{
    padding: 5rem 8rem 0 0;
}

.left-locations {
    text-align: right;
    padding: 2rem 0 0 8rem;
}

.left-image,
.right-image {
    position: relative;
}

.left-image img{
    box-shadow: 1rem 1rem 0.05rem $secondary;
    position: absolute;
    top: -2rem;
}

.right-image img{
    box-shadow: -1rem 1rem 0.05rem $secondary;
    position: absolute;
    top: 2rem;
}

// Home Section 3: Vacation Days //

.section3-home-vacation {
    background-color: $tertiary;
    text-align: center;
    padding-bottom: 6rem;
    h4 {
        padding-top: 20vh;
        padding-bottom: 2rem;
    }
    p {
        padding: 0 4rem 2rem 4rem;
    }
}

// Home Section 5: Contest // 

.section5-home-contest{
    background-color: $tertiary;
    .contest-flex {
        display: flex;
        align-items: center;
        padding: 6rem 0 5rem 0;
        .contest-image {
            flex: 1;
            box-shadow: -1rem 1rem 0.05rem $secondary;
        }
        .contest-info {
            padding-left: 5rem;
            flex: 3;
            p {
                padding: 1rem 0 1.25rem 0;
            }
        }
    }
}

// Home Section 6: Gallery Styling // 

.section6-home-gallery {
    background-color: $primary;
}

ul.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    li {
        padding: 5rem 0;
    }
}

// Contact Page Styling // 

.header-contact h1 {
    padding-top: 4rem;
}

main {
    background-color: $tertiary;
}

.main-contact-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6rem 0 12rem 0;
}

.contact-icons ul {
    display: flex;
    li {
        margin: 0 0.5rem;
        padding-bottom: 1rem;
        a{
            color: $primary;
            font-size: 1.25rem;
            &:hover,
            &:focus {
                border-bottom: 3px solid $secondary;
            }
        }
    }
    li:first-child {
        margin-left: 0;
    }
    li:last-child {
        margin-right: 0;
    }
    
}

.addresses a {
    color: $primary;
    &:hover,
    &:focus {
        border-bottom: 3px solid $secondary;
    }
}

.addresses p {
    padding-top: 1.5rem;
    span {
        display: block;
    }
}

.contact-info {
    flex-basis: 30%;
}

.move-form {
    position: relative;
    flex-basis: 70%
}

.contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $primary;
    padding: 3rem;
    box-shadow: 1rem 1rem 0.05rem $secondary;
    position: absolute;
    top: -375px;
    button {
        padding: 0;
        cursor: pointer;
    }
}

.name-address-flex {
    display: flex;
}

.contact-form input,
.contact-form textarea {
    background-color: $primary;
    border-style: none;
    outline: none;
    padding: 1rem;
    color: white;
}

.contact-form {
    input[type="text"],
    input[type="email"] {
        border-bottom: 2px solid $secondary;
        flex-grow: 1;
        width: 100%;
    }
    input[type="text"],
    input[type="email"],
    textarea {
        &::placeholder {
            color: white;
            opacity: 1;
            font-family: $base-font;
        }
    }
}

.contact-form input[type="text"] {
    margin-right: 0.75rem;
}

.contact-form input[type="email"] {
    margin-left: 0.75rem;
}

.name-address-flex {
    padding-bottom: 2rem;
}

.contact-form textarea {
    resize: none;
    border: 2px solid $secondary;
    margin-bottom: 2rem;
    padding-bottom: 0;
}

// Blog Page Styling // 

.header-blog h1 {
    padding-top: 6rem;
}

.blog-main {
    background-color: $tertiary;
}

.main-grid {
    max-width: 1500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    .main-content {
        grid-column: 2;
        h2 {
            padding: 3rem 0 1.25rem 0;
        }
    }
    aside {
        grid-row-start: 1;
    }
}

.blog-wrapper {
    width: 80%;
    margin: 0 auto;
}

.blog-image-container {
    position: relative;
    width: calc(100% - 1rem);
    img {
        box-shadow: -1rem 1rem 0.05rem $secondary;
        position: absolute;
        top: -20vh;
        left: 1rem;
    }
}

.article-border {
    padding-top: 25rem;
    border-left: 5px solid $secondary;
    border-bottom: 5px solid $secondary;
    p {
        padding-bottom: 6rem;
        span {
            display: block;
            padding-bottom: 1.5rem;
        }
    }
}

.comment1, 
.comment2 {
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 2rem;
}

.comment1 {
    padding-bottom: 6rem;
}

.article-comment p span {
    display: block;
    color: $primary;
    font-weight: bold;
    padding-bottom: 0.5rem;
}

.blog-contact {
    padding: 4rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;
    textarea, 
    .blue-button {
        grid-column: span 2;
    }
}

.blog-contact input,
.blog-contact textarea {
    background-color: $tertiary;
    border-style: none;
    outline: none;
    padding: 1rem;
    color: black;
}

.blog-contact {
    input[type="text"],
    input[type="email"] {
        border-bottom: 2px solid $secondary;
        margin-bottom: 2rem;
        width: 100%;
    }
    input[type="text"],
    input[type="email"],
    textarea {
        &::placeholder {
            color: black;
            opacity: 1;
            font-family: $base-font;
        }
    }
}

.blog-contact textarea {
    resize: none;
    border: 2px solid $secondary;
    margin-bottom: 2rem;
    padding-bottom: 0;
}

.blue-button {
    background-color: $primary;
    color: $secondary;
    font-family: $styling-font;
    text-transform: uppercase;
    line-height: 2.08rem;
    font-size: 1.1rem;
    padding: 0.1rem;
    border: 3px solid transparent;
    &:hover,
    &:focus {
        background-color: $tertiary;
        color: $primary;
        border: 3px solid $secondary;
    }
}

.aside-wrapper {
    width: 65%;
    margin: 0 auto;
}

aside {
    margin-top: 6rem;
}

.aside-image {
    position: relative;
    width: calc(100% - (35% / 2) - 1rem);
    img {
        position: absolute;
        left: 0;
        top: -1rem;
    }
}

.aside-content {
    background-color: $primary;
    padding-top: 18rem;
    h3 {
        font-family: $styling-font;
        color: $secondary;
        font-size: 1.25rem;
        line-height: 2.08rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
    }
    p,
    li {
        color: white;
    }
}

.mission-statement {
    h3 {
        padding: 2rem 0 0 1rem;
    }
    p {
        padding-left: 1rem;    
    }
}

.recent-posts {
    padding-bottom: 1rem;
    h3 {
    padding: 4rem 0 0 1rem;
    }
}

// Footer Styling Across ALL Pages // 

footer {
    text-align: center;
    background-color: $secondary;
    color: $primary;
    padding: 0.5rem 0;
}

// ******************MEDIA QUERIES**********************// 

@media (max-width: 1250px) {
    .header-home h1 {
        font-size: 2.75rem;
    }
    .icons-h2s .wrapper {
        padding-top: 4rem;
    }
    .section2-wrapper {
        gap: 2rem 4rem;
        h3{
            font-size: 1.75rem;
        }
        p {
            text-align: center;
            padding-bottom: 1.5rem;
        }
    }
    .left-image,
    .right-image,
    .left-image img,
    .right-image img {
        position: static;
    }
    .right-programs {
        text-align: center;
        padding: 2rem 4rem 2rem 0;
    }
    .left-locations {
        text-align: center;
        padding-left: 4rem;
        h3 {
            padding-top: 2rem;
        }
    }
    .left-image {
        padding-top: 2rem;
    }
    .right-image {
        padding-top: 4rem;
    }
    .section3-home-vacation h4 {
        padding-top: 6rem;
    }

    .article-border {
        padding-top: 15rem;
    }

    .aside-content {
        padding-top: 14rem;
    }
}

@media (max-width: 1050px) {
    .move-form {
        width: 100%;
        position: static;
    }

    .contact-form {
        position: static;
    }

    .main-contact-form {
        flex-direction: column;
        padding: 4rem 0 4rem 0;
    }

    .contact-info {
        flex-basis: 100%;
        display: flex;
        justify-content: space-between;
    }

    .contact-info .addresses {
        padding: 0 0 2rem 2rem;
    }

    .contact-info .contact-icons {
        padding-right: 2rem;
    }

    .blog-post {
        padding-top: 4rem;
        margin: 0 auto;
    }

    .blog-image-container,
    .blog-image-container img {
        position: static;
        box-shadow: none;
    }

    .blog-image-container {
        padding: 0 2rem;
        width: 100%;
    }

    .main-grid {
        display: initial;
    }

    .article-border {
        border-left: none;
        padding-top: 2rem;
    }

    aside {
        background-color: $primary;
    }

    .aside-image,
    .aside-image img {
        display: none;
    }

    .aside-content {
        padding-top: 0;
    }

}

@media (max-width: 940px) {
    .header-contact h1,
    .header-blog h1 {
        font-size: 2.75rem;
    }

    .header-blog {
        background-position: 30%;
        h1 {
            padding-top: 15rem;
        }
    }

    .icons-h2s .wrapper{
        flex-direction: column;
        padding-top: 2rem;
    }

    main h2,
    main h4 {
        font-size: 1.5rem;
    }

    .header-home h1 {
        text-align: center;
        margin: auto;
    }

    .header-boat-image {
        position: static;
        margin: 0 auto;
        width: 70vw;
        padding-bottom: 4rem;
    }

    .icons-h2s .wrapper {
        padding-bottom: 4rem;
    }

    .section2-wrapper {
        grid-template-columns: 1fr;
    }

    .left-image img,
    .right-image img {
        box-shadow: none;
        width: 75%;
        margin: 0 auto;
    }

    .right-image {
        grid-row: 3;
        padding-top: 2rem;
    }

    .left-image {
        padding-top: 4rem;
    }

    .right-programs,
    .left-locations {
        padding: 2rem 4rem;
    }

    .horizontal-banner-image img {
        height: 40vh;
        object-fit: cover;
        object-position: 30%;
    }

    .section5-home-contest .contest-flex {
        padding: 3rem 0;
        flex-direction: column;
    }
    .section5-home-contest .contest-flex .contest-info {
        padding: 4rem 1rem 2rem 1rem;
        text-align: center;
    }
    .contact-form {
        box-shadow: none;
    }
}

@media (max-width: 600px) {
    .header-contact h1 {
        padding-top: 10rem;
    }

    .nav-home,
    .nav-contact,
    .nav-blog {
        padding: 2rem 0 0 1rem;
        ul {
            display: none;
            padding-top: 3rem;
            li {
                margin-left: 0;
                padding-bottom: 0.25rem;
            }
        }
    }

    .nav-home,
    .nav-contact,
    .nav-blog {
        input[type="checkbox"] {
            display: initial;
            cursor: pointer;
            &:checked ~ ul {
                display: flex;
                flex-direction: column;
            }
            &:focus + .hamburger {
                color: $secondary;
            }
        }
    }

    .nav-home,
    .nav-contact,
    .nav-blog {
        .hamburger {
            display: initial;
        }
    }

    .contact-info {
        display: initial;
    }

    .contact-info .addresses {
        padding-left: 0;
    }

    .contact-info .contact-icons {
        padding-right: 0;
    }

    .name-address-flex {
        flex-direction: column;
    }

    .contact-form input[type="text"] {
        margin-right: 0;
    }

    .contact-form input[type="email"] {
        margin-left: 0;
    }

    .blog-contact {
        grid-template-columns: 1fr;
        column-gap: 0;
        input[type="email"] {
            grid-row: 2;
        }
    }
}

@media (max-width: 480px) {
    .header-home h1 {
        font-size: 1.75rem;
        padding-top: 2.5rem;
    }

    .header-contact h1 {
        text-align: center;
    }

    main h2,
    .main-content h2,
    .section2-wrapper h3,
    main h4,
    .main-grid h2 {
        font-size: 1.25rem;
    }

    p {
        line-height: 1.2rem;
    }

    .section2-wrapper {
        padding-bottom: 1rem;
    }

    .left-image {
        padding-top: 2rem;
    }

    .right-image {
        padding-top: 0;
    }

    .right-programs {
        padding: 0rem 2rem;
    }

    .left-locations {
        padding: 0 2rem 1rem 2rem;
    }

    .left-locations h3 {
        padding-top: 0;
    }

    .section3-home-vacation p {
        padding: 0 1rem 2rem 1rem;
    }

    .section5-home-contest .contest-flex .contest-image {
        box-shadow: none;
    }

    ul.gallery {
        grid-template-columns: 1fr;
        li {
            padding: 2rem 2rem;
        }
    }

    .main-contact-form {
        padding-top: 2rem;
    }

    .contact-form {
        padding: 1.5rem;
    }

    .blog-wrapper {
        width: 90%;
    }

    .aside-wrapper {
        width: 90%;
    }
}



