@import "setup";
@import "variables";

// General Styles //

html {
    font-size: 125%;
}

body {
    font-family: $base-font;
}

h1, 
h2,
h3,
h4,
nav ul,
p,
a,
.gallery ul,
input,
textarea {
    padding: 0;
    margin: 0;
}

.wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

nav li,
ul.gallery li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

p {
    letter-spacing: 0.05rem;
    line-height: 1.4rem;
}

// Header Styling //




