html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
nav ul,
p,
a,
ul.gallery,
input,
textarea {
  padding: 0;
  margin: 0;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

nav li,
ul.gallery li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  letter-spacing: 0.05rem;
  line-height: 1.4rem;
}

.header-home {
  background-image: url(../assets/home-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header-contact {
  background-image: url(../assets/contact-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}

.header-blog {
  background-image: url(../assets/blog-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;
}

.nav-home ul,
.nav-contact ul,
.nav-blog ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem 0 4rem 0;
}
.nav-home ul li,
.nav-contact ul li,
.nav-blog ul li {
  margin: 0 1.5rem;
}
.nav-home ul li a,
.nav-contact ul li a,
.nav-blog ul li a {
  color: white;
  font-weight: bold;
  letter-spacing: 0.05rem;
  line-height: 1.45rem;
  padding-bottom: 0.25rem;
}
.nav-home ul li a:hover, .nav-home ul li a:focus,
.nav-contact ul li a:hover,
.nav-contact ul li a:focus,
.nav-blog ul li a:hover,
.nav-blog ul li a:focus {
  border-bottom: 3px solid #FDD908;
}
.nav-home ul li:first-child,
.nav-contact ul li:first-child,
.nav-blog ul li:first-child {
  margin-left: 0;
}
.nav-home ul li:last-child,
.nav-contact ul li:last-child,
.nav-blog ul li:last-child {
  margin-right: 0;
}

h1 {
  font-size: 3.95rem;
  text-transform: uppercase;
  font-family: "IM Fell English", serif;
  text-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.8);
}

.header-home h1 {
  color: #FDD908;
  margin-top: 25vh;
  padding-bottom: 3rem;
}
.header-home h1 span {
  display: block;
}

.header-boat-image {
  position: absolute;
  top: 20vh;
  right: 0;
  width: 55vw;
  max-width: 900px;
}

.header-contact h1,
.header-blog h1 {
  color: white;
}

h2,
h4 {
  font-family: "IM Fell English", serif;
  color: #0D457F;
  font-size: 2.25rem;
  text-transform: uppercase;
}

.yellow-button {
  color: #0D457F;
  font-family: "IM Fell English", serif;
  background-color: #FDD908;
  text-transform: uppercase;
  line-height: 2.08rem;
  font-size: 1.1rem;
  padding: 0.5rem;
  border: 3px solid transparent;
}
.yellow-button:hover, .yellow-button:focus {
  border: 3px solid #FDD908;
  background-color: #EAFEFC;
}

.icons-h2s {
  background-color: #EAFEFC;
}
.icons-h2s .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 20vh;
  padding-bottom: 15vh;
}
.icons-h2s .wrapper .marker,
.icons-h2s .wrapper .users,
.icons-h2s .wrapper .file,
.icons-h2s .wrapper .phone {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2rem;
}
.icons-h2s .wrapper .marker i,
.icons-h2s .wrapper .users i,
.icons-h2s .wrapper .file i,
.icons-h2s .wrapper .phone i {
  background-color: #FDD908;
  color: #0D457F;
  border-radius: 50%;
  display: block;
  font-size: 1rem;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  text-align: center;
  padding-top: 0.5rem;
}
.icons-h2s .wrapper .marker .marker-description,
.icons-h2s .wrapper .marker .users-description,
.icons-h2s .wrapper .marker .file-description,
.icons-h2s .wrapper .marker .phone-description,
.icons-h2s .wrapper .users .marker-description,
.icons-h2s .wrapper .users .users-description,
.icons-h2s .wrapper .users .file-description,
.icons-h2s .wrapper .users .phone-description,
.icons-h2s .wrapper .file .marker-description,
.icons-h2s .wrapper .file .users-description,
.icons-h2s .wrapper .file .file-description,
.icons-h2s .wrapper .file .phone-description,
.icons-h2s .wrapper .phone .marker-description,
.icons-h2s .wrapper .phone .users-description,
.icons-h2s .wrapper .phone .file-description,
.icons-h2s .wrapper .phone .phone-description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.icons-h2s .wrapper .marker p,
.icons-h2s .wrapper .users p,
.icons-h2s .wrapper .file p,
.icons-h2s .wrapper .phone p {
  padding-top: 1rem;
}

.section2-home-programs-locations {
  background-color: #0D457F;
}

.section2-wrapper {
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem 10vw;
  padding-bottom: 4rem;
}
.section2-wrapper h3 {
  font-family: "IM Fell English", serif;
  font-size: 2rem;
  line-height: 2.9rem;
  letter-spacing: 0.06rem;
  text-transform: uppercase;
  color: white;
}
.section2-wrapper p {
  color: white;
  text-align: left;
  padding-bottom: 2rem;
}

.right-programs {
  padding: 5rem 8rem 0 0;
}

.left-locations {
  text-align: right;
  padding: 2rem 0 0 8rem;
}

.left-image,
.right-image {
  position: relative;
}

.left-image img {
  -webkit-box-shadow: 1rem 1rem 0.05rem #FDD908;
          box-shadow: 1rem 1rem 0.05rem #FDD908;
  position: absolute;
  top: -2rem;
}

.right-image img {
  -webkit-box-shadow: -1rem 1rem 0.05rem #FDD908;
          box-shadow: -1rem 1rem 0.05rem #FDD908;
  position: absolute;
  top: 2rem;
}

.section3-home-vacation {
  background-color: #EAFEFC;
  text-align: center;
  padding-bottom: 6rem;
}
.section3-home-vacation h4 {
  padding-top: 20vh;
  padding-bottom: 2rem;
}
.section3-home-vacation p {
  padding: 0 4rem 2rem 4rem;
}

.section5-home-contest {
  background-color: #EAFEFC;
}
.section5-home-contest .contest-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6rem 0 5rem 0;
}
.section5-home-contest .contest-flex .contest-image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-shadow: -1rem 1rem 0.05rem #FDD908;
          box-shadow: -1rem 1rem 0.05rem #FDD908;
}
.section5-home-contest .contest-flex .contest-info {
  padding-left: 5rem;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}
.section5-home-contest .contest-flex .contest-info p {
  padding: 1rem 0 1.25rem 0;
}

.section6-home-gallery {
  background-color: #0D457F;
}

ul.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
}
ul.gallery li {
  padding: 5rem 0;
}

.header-contact h1 {
  padding-top: 4rem;
}

main {
  background-color: #EAFEFC;
}

.main-contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6rem 0 12rem 0;
}

.contact-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact-icons ul li {
  margin: 0 0.5rem;
  padding-bottom: 1rem;
}
.contact-icons ul li a {
  color: #0D457F;
  font-size: 1.25rem;
}
.contact-icons ul li a:hover, .contact-icons ul li a:focus {
  border-bottom: 3px solid #FDD908;
}
.contact-icons ul li:first-child {
  margin-left: 0;
}
.contact-icons ul li:last-child {
  margin-right: 0;
}

.addresses a {
  color: #0D457F;
}
.addresses a:hover, .addresses a:focus {
  border-bottom: 3px solid #FDD908;
}

.addresses p {
  padding-top: 1.5rem;
}
.addresses p span {
  display: block;
}

.contact-info {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.move-form {
  position: relative;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.contact-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #0D457F;
  padding: 3rem;
  -webkit-box-shadow: 1rem 1rem 0.05rem #FDD908;
          box-shadow: 1rem 1rem 0.05rem #FDD908;
  position: absolute;
  top: -375px;
}
.contact-form button {
  padding: 0;
  cursor: pointer;
}

.name-address-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-form input,
.contact-form textarea {
  background-color: #0D457F;
  border-style: none;
  outline: none;
  padding: 1rem;
  color: white;
}

.contact-form input[type=text],
.contact-form input[type=email] {
  border-bottom: 2px solid #FDD908;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.contact-form input[type=text]::-webkit-input-placeholder, .contact-form input[type=email]::-webkit-input-placeholder, .contact-form textarea::-webkit-input-placeholder {
  color: white;
  opacity: 1;
  font-family: "Roboto", sans-serif;
}
.contact-form input[type=text]::-moz-placeholder, .contact-form input[type=email]::-moz-placeholder, .contact-form textarea::-moz-placeholder {
  color: white;
  opacity: 1;
  font-family: "Roboto", sans-serif;
}
.contact-form input[type=text]:-ms-input-placeholder, .contact-form input[type=email]:-ms-input-placeholder, .contact-form textarea:-ms-input-placeholder {
  color: white;
  opacity: 1;
  font-family: "Roboto", sans-serif;
}
.contact-form input[type=text]::-ms-input-placeholder, .contact-form input[type=email]::-ms-input-placeholder, .contact-form textarea::-ms-input-placeholder {
  color: white;
  opacity: 1;
  font-family: "Roboto", sans-serif;
}
.contact-form input[type=text]::placeholder,
.contact-form input[type=email]::placeholder,
.contact-form textarea::placeholder {
  color: white;
  opacity: 1;
  font-family: "Roboto", sans-serif;
}

input[type=text] {
  margin-right: 0.75rem;
}

input[type=email] {
  margin-left: 0.75rem;
}

.name-address-flex {
  padding-bottom: 2rem;
}

.contact-form textarea {
  resize: none;
  border: 2px solid #FDD908;
  margin-bottom: 2rem;
  padding-bottom: 0;
}

.header-blog h1 {
  padding-top: 6rem;
}

.blog-main {
  background-color: #EAFEFC;
}

.main-grid {
  max-width: 1500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.main-grid .main-content {
  grid-column: 2;
}
.main-grid .main-content h2 {
  padding: 3rem 0 1.25rem 0;
}
.main-grid aside {
  grid-row-start: 1;
}

.blog-wrapper {
  width: 80%;
  margin: 0 auto;
}

.blog-image-container {
  position: relative;
  width: calc(100% - 1rem);
}
.blog-image-container img {
  -webkit-box-shadow: -1rem 1rem 0.05rem #FDD908;
          box-shadow: -1rem 1rem 0.05rem #FDD908;
  position: absolute;
  top: -20vh;
  left: 1rem;
}

.article-border {
  padding-top: 40vh;
  border-left: 5px solid #FDD908;
  border-bottom: 5px solid #FDD908;
}
.article-border p {
  padding-bottom: 6rem;
}
.article-border p span {
  display: block;
  padding-bottom: 1.5rem;
}

.comment1,
.comment2 {
  display: grid;
  grid-template-columns: 1fr 4fr;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
}

.comment1 {
  padding-bottom: 6rem;
}

.article-comment p span {
  display: block;
  color: #0D457F;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.blog-contact {
  padding: 4rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.blog-contact textarea,
.blog-contact .blue-button {
  grid-column: span 2;
}

.blog-contact input,
.blog-contact textarea {
  background-color: #EAFEFC;
  border-style: none;
  outline: none;
  padding: 1rem;
  color: black;
}

.blog-contact input[type=text],
.blog-contact input[type=email] {
  border-bottom: 2px solid #FDD908;
  margin-bottom: 2rem;
}
.blog-contact input[type=text]::-webkit-input-placeholder, .blog-contact input[type=email]::-webkit-input-placeholder, .blog-contact textarea::-webkit-input-placeholder {
  color: black;
  opacity: 1;
  font-family: "Roboto", sans-serif;
}
.blog-contact input[type=text]::-moz-placeholder, .blog-contact input[type=email]::-moz-placeholder, .blog-contact textarea::-moz-placeholder {
  color: black;
  opacity: 1;
  font-family: "Roboto", sans-serif;
}
.blog-contact input[type=text]:-ms-input-placeholder, .blog-contact input[type=email]:-ms-input-placeholder, .blog-contact textarea:-ms-input-placeholder {
  color: black;
  opacity: 1;
  font-family: "Roboto", sans-serif;
}
.blog-contact input[type=text]::-ms-input-placeholder, .blog-contact input[type=email]::-ms-input-placeholder, .blog-contact textarea::-ms-input-placeholder {
  color: black;
  opacity: 1;
  font-family: "Roboto", sans-serif;
}
.blog-contact input[type=text]::placeholder,
.blog-contact input[type=email]::placeholder,
.blog-contact textarea::placeholder {
  color: black;
  opacity: 1;
  font-family: "Roboto", sans-serif;
}

.blog-contact textarea {
  resize: none;
  border: 2px solid #FDD908;
  margin-bottom: 2rem;
  padding-bottom: 0;
}

.blue-button {
  background-color: #0D457F;
  color: #FDD908;
  font-family: "IM Fell English", serif;
  text-transform: uppercase;
  line-height: 2.08rem;
  font-size: 1.1rem;
  padding: 0.1rem;
  border: 3px solid transparent;
}
.blue-button:hover, .blue-button:focus {
  background-color: #EAFEFC;
  color: #0D457F;
  border: 3px solid #FDD908;
}

.aside-wrapper {
  width: 65%;
  margin: 0 auto;
}

aside {
  margin-top: 6rem;
}

.aside-image {
  position: relative;
  width: calc(100% - (35% / 2) - 1rem);
}
.aside-image img {
  position: absolute;
  left: 0;
  top: -1rem;
}

.aside-content {
  background-color: #0D457F;
  padding-top: 30vh;
}
.aside-content h3 {
  font-family: "IM Fell English", serif;
  color: #FDD908;
  font-size: 1.25rem;
  line-height: 2.08rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.aside-content p,
.aside-content li {
  color: white;
}

.mission-statement h3 {
  padding: 2rem 0 0 1rem;
}
.mission-statement p {
  padding-left: 1rem;
}

.recent-posts {
  padding-bottom: 1rem;
}
.recent-posts h3 {
  padding: 4rem 0 0 1rem;
}

footer {
  text-align: center;
  background-color: #FDD908;
  color: #0D457F;
  padding: 0.5rem 0;
}