html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
nav ul,
p,
a,
.gallery ul,
input,
textarea {
  padding: 0;
  margin: 0;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

nav li,
ul.gallery li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  letter-spacing: 0.05rem;
  line-height: 1.4rem;
}

.header-home {
  background-image: url(../assets/home-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-contact {
  background-image: url(../assets/contact-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}

.header-blog {
  background-image: url(../assets/blog-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;
}

.nav-home ul,
.nav-contact ul,
.nav-blog ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem 0 4rem 0;
}
.nav-home ul li,
.nav-contact ul li,
.nav-blog ul li {
  margin: 0 1.5rem;
}
.nav-home ul li a,
.nav-contact ul li a,
.nav-blog ul li a {
  color: white;
  font-weight: bold;
  letter-spacing: 0.05rem;
  line-height: 1.45rem;
  padding-bottom: 0.25rem;
}
.nav-home ul li a:hover, .nav-home ul li a:focus,
.nav-contact ul li a:hover,
.nav-contact ul li a:focus,
.nav-blog ul li a:hover,
.nav-blog ul li a:focus {
  border-bottom: 3px solid #FDD908;
}
.nav-home ul li:first-child,
.nav-contact ul li:first-child,
.nav-blog ul li:first-child {
  margin-left: 0;
}
.nav-home ul li:last-child,
.nav-contact ul li:last-child,
.nav-blog ul li:last-child {
  margin-right: 0;
}

h1 {
  font-size: 3.95rem;
  text-transform: uppercase;
  font-family: "IM Fell English", serif;
}

.move-h1-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.move-h1-image h1 {
  color: #FDD908;
  margin-top: 25vh;
  margin-bottom: 3rem;
}
.move-h1-image h1 span {
  display: block;
}

.header-boat-image {
  position: absolute;
  top: 2.5vh;
  right: -250px;
}

.header-contact h1,
.header-blog h1 {
  color: white;
}

h2,
h4 {
  font-family: "IM Fell English", serif;
  color: #0D457F;
  font-size: 2.25rem;
  text-transform: uppercase;
}

.icons-h2s {
  background-color: #EAFEFC;
}
.icons-h2s .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 20vh;
  padding-bottom: 15vh;
}
.icons-h2s .wrapper .marker,
.icons-h2s .wrapper .users,
.icons-h2s .wrapper .file,
.icons-h2s .wrapper .phone {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2rem;
}
.icons-h2s .wrapper .marker i,
.icons-h2s .wrapper .users i,
.icons-h2s .wrapper .file i,
.icons-h2s .wrapper .phone i {
  background-color: #FDD908;
  color: #0D457F;
  border-radius: 50%;
  display: block;
  font-size: 1rem;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  text-align: center;
  padding-top: 0.5rem;
}
.icons-h2s .wrapper .marker .marker-description,
.icons-h2s .wrapper .marker .users-description,
.icons-h2s .wrapper .marker .file-description,
.icons-h2s .wrapper .marker .phone-description,
.icons-h2s .wrapper .users .marker-description,
.icons-h2s .wrapper .users .users-description,
.icons-h2s .wrapper .users .file-description,
.icons-h2s .wrapper .users .phone-description,
.icons-h2s .wrapper .file .marker-description,
.icons-h2s .wrapper .file .users-description,
.icons-h2s .wrapper .file .file-description,
.icons-h2s .wrapper .file .phone-description,
.icons-h2s .wrapper .phone .marker-description,
.icons-h2s .wrapper .phone .users-description,
.icons-h2s .wrapper .phone .file-description,
.icons-h2s .wrapper .phone .phone-description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.icons-h2s .wrapper .marker p,
.icons-h2s .wrapper .users p,
.icons-h2s .wrapper .file p,
.icons-h2s .wrapper .phone p {
  padding-top: 1rem;
}